html{
  width: 100%
}
body{
  width: 100%;
}

}
/*general rules*/

/*Header display*/


/*Main sections*/

/*article style*/


@media (orientation : landscape) {
  body {
    background-color: red;
  }
}
@media (orientation : portrait) {
  body {
    background-color: green;
  }
}