:root{
	--text-color:#d4d4d4;
	--grey1:#808080;
	--color1:#8d0000;
}



/*Layout*/
html, body{
	color:var(--text-color);
	font-family:courier, monospace;
}

body{
	text-align:center;
	background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.25)),
    url("paris_column.JPG");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

#datetime{
	margin: 5vh 0;
	height: 20vh;
	vertical-align:middle;
	display:flex;
}
.clockdate-wrapper{
	margin: auto;
	font-size:3em;
	text-transform:uppercase;
	font-weight:bold;
}

#links-container{
	margin: 5vh 0;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.links-card{
	margin:40px;
	width: 200px;
}

.links-card-title{
	margin:15px 20px 0 20px;
	text-align:center;
	font-size:2em;
	color:var(--color1);
	border-bottom: var(--color1) 2px solid;
}
ul{
	list-style: none inside none;
	padding: 0px 20px 0 20px;
	text-align:left;
	width:100%
}

.links-element{
	text-decoration:none;
	color:var(--text-color);
	text-transform:capitalize;
	width:100%;
	font-size:1.2em;
}
li{
	padding: 3px;
}
li:hover{
	color:var(--color1);
	border-bottom: var(--color1) solid 2px;
	padding:3px 3px 1px 3px;

}
#code-roadmap{
	text-align:center;
	color:var(--color1);
	text-transform:uppercase;
	margin:auto;
	display:inline-block;
	font-weight:bold;
}