:root{
	--text-color:#d4d4d4;
	--grey1:#808080;
	--color1:#a00000;
}



/*Layout*/
html, body{
	color:var(--text-color);
	font-family:courier, monospace;
  width: 100%;
  margin:0;
}
html{
	height:100%;
}

#datetime{
	height: 20vh;
	vertical-align:middle;
	display:flex;
  top:0;
  right:0;
}
.clockdate-wrapper{
	margin: auto;
	font-size:3em;
	text-transform:uppercase;
}

#links-container{
	margin: 5vh 0;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.links-card-title{
	text-align:center;
	color:var(--color1);
	border-bottom: var(--color1) 2px solid;
}
ul{
	list-style: none inside none;
	padding: 0;
	text-align:left;
	width:100%
}
a{
	text-decoration:none;	
}
.links-element{
	text-decoration:none;
	color:var(--text-color);
	text-transform:capitalize;
	width:160px;
	font-size:1.2em;
	padding: 3px 20px 3px 20px;
}
.links-element:hover{
	color:var(--color1);
	border-bottom: var(--color1) solid 2px;
	padding:3px 20px 1px 20px;

}
#code-roadmap{
	text-align:center;
	color:var(--color1);
	text-transform:uppercase;
	margin:auto;
	display:inline-block;
	font-weight:bold;
	font-size:1.4em;
}
#code-roadmap:hover{
		color:var(--text-color);
	background-color:var(--color1);

}

@media screen and (max-width: 900px) {
  .links-card{
  	margin:2px;
  	width: 100%;
  }
  #clock{
    display: block;
  }
  ul{
  	text-align:center;
  }
  #datetime{
    position:sticky;
    font-size: 0.5em;
    width:100vw;
    background-color: rgba(0,0,0,1);
    margin:0;
  }
  body{
    text-align:center;
    background-color: rgba(0,0,0,1);
  }
  .links-element{
	text-align: center;
}
}
@media screen and (min-width: 900px) {
  .links-card{
  	margin:40px;
  	width: 200px;
  }
  #datetime{
    position:sticky;
    font-size: 15px;
    margin:15px 20px 0 20px;
  }
  #clock{
    display: inline;
  }
  html{
  	text-align:center;
  	background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.25)), url("heyre.jpg");
  	background-position:center;
  	background-size:cover;
  	background-repeat:no-repeat;
  }
}
