html{
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}
body{
  font-family: monospace;
  color: black ;
  font-size: 15px;
  text-align: center;
  background-image: url(../picture/heyre1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.homebutton {
  position: fixed;
  top:10px;
  left: 10px;
  font-size: 1.5em;
  background-color: rgb(0, 0, 255, 0.5);
  color: white;
  text-decoration: none;
}
.homebutton:hover{
  background-color: red;
  color: white;
}
.vision{
  border:solid black 2px;
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 10px;
  font-size: 2em;
  font-weight: bold;
}
h2{
  font-size: 2em;
}
.goallist{
  font-size: 1.5em;
}
.midcontent{

}
.goals{
  border:solid black 2px;
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 10px;
  margin:0.5em;
  margin-left: 0.5em;
  text-align: left;
  vertical-align: top;
  align-items: center;
}
.process{
  border:solid black 2px;
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 10px;
  margin: 0.5em;
  text-align: left;
  vertical-align: top;
  align-items: center;
}
.processcard{
  display: inline-block;
  vertical-align: top;
  align-items: center;
  margin-left: 2em;
  margin-right:1em;
  width: 25em;
}
.processcard:hover{
  background-color: black;
  color: white;
}
.tablecaption{
  font-size: 3em;
  font-weight: bolder;
}
.targettable{
  border-collapse: collapse;
  width: 95%;
  display: block;
  align-self: center;
}
th{
  font-weight:bolder;
  font-size: 2em;
  text-align: center;
}
/*cells style*/
tr{
  border: solid black 1px;
}
.c2, .c3, .c4, .c5{
  vertical-align: top;
}
.c1{
  width: 10em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
.c2{
  width: 20em;
}
.c3{
  width: 30em;
}
.c4{
  width: 30em;
}
.c5{
  width: 30em;
}
.overdue{
  color:red;
  font-weight: bold;
}
.currentweek{
  background-color: rgb(100, 150, 255, 0.5);
}
.currentweek:hover{
  background-color: blue;
  color: white;
  border:solid black 5px;
}
tr:hover{
  background-color: black;
  color: white;
  border:solid blue 5px;
}

.completed{
  text-decoration: line-through;
  color:gree;
}
.mesurement{
  border:solid black 2px;
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 10px;
  align-items: left;
  vertical-align: top;
}
.interval{
  font-size: 2em;
  border: solid black 1px;
  width: auto;
  height: 15em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.week{
  display: inline-block;
  width: 3em;
  text-align: center;
  height: 15em;
  flex-wrap: wrap-reverse;
}
.weekgraph{
  display: block;
  width: 2.5em;
  background-color: green;
}
.value{
  text-align: center;
  display: block;
}
.weeknum{
  display: block;
  text-align: center;
  font-weight: bolder;
}
